.header { 
    text-align: center;
    background: teal; 
    padding: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    
}

hr {
    max-width: 75%;
    width: 60%;
    
}

form {
    width: 400px;
    height: 600px;

}

footer {
    height: 100px;
    color: white;
    text-align: center;
    background: grey;
    padding: 40px;
    font-size: x-small;
    max-width: 60%;
    margin: auto;
    border-top: teal;
    border-style: solid;
    border-width: thick;
}