.size {
    max-width: 1500px;
    margin: auto;
}

.header { 
    text-align: center;
    background: teal; 
    padding: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 24px;
    font-weight: bold;
    
    
}

.firstbreak {
    max-width: 75%;
    width: 60%;
    
}

hr {
    border-width: thin;
}

 h2 {
     color: teal;
     font-family: 'Times New Roman', Times, serif;
     font-size: 24px;
     font-weight: bold;
 }

form {
    width: 400px;
    height: 500px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 12%;
    margin-right: 12%;
    border-style: solid;
    border-color: darkgray;
    padding: 30px;
    

}

footer {
    height: 100px;
    color: white;
    text-align: center;
    background: grey;
    padding: 40px;
    font-size: x-small;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    border-top: teal;
    border-style: solid;
    border-width: thick;
}
.content {
    width: 30%;
    height: 30%;
    margin: auto;
    margin-right: 12%;
    margin-left: 12%;
    margin-bottom: 30px;
    margin-top: 30px;
    border-style: solid;
    border-color: darkgray;
    padding: 30px;
  }

img {
    height: 40%;
    width: 40%;
    float: left;
    margin: 10px;
  }

.float-img {
    height: 40%;
    width: 40%;
    float: right;
    margin: 10px; 
}

.textBox {
      margin: 10px;
      padding: 10px;
      float: right;
  }

.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;        
    text-align: center;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial,sans-serif;
    color: #fff;
    width: 60%; /* Set the width of the positioned div */
} 